# Analyze information on targets selected from pisces

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
pd.options.display.float_format = '{:.3f}'.format
plt.rcParams["figure.dpi"] = 150
sns.set(style='darkgrid')

In [3]:
# Read target csv
df_path = '../../../pisces/20210225/multidomain_target_100_cullpdb_pc20_res2.0_R0.25.csv'
target_df = pd.read_csv(df_path, index_col=0)
target_df

,IDs,length,Exptl.,resolution,R-factor,FreeRvalue,PDB_ID,Chain,Domain_num,target,1,2,3
0,1BF2A,750,XRAY,2.000,0.160,0.210,1BF2,A,3,1BF2_A,107.000,323.000,344.000
1,1GU7A,364,XRAY,1.700,0.170,0.190,1GU7,A,2,1GU7_A,22.000,231.000,268.000
2,1HM9B,468,XRAY,1.750,0.180,0.220,1HM9,B,2,1HM9_B,40.000,204.000,274.000
3,1K5NA,276,XRAY,1.090,0.120,0.150,1K5N,A,2,1K5N_A,744.000,5190.000,7188.000
4,1L3KA,196,XRAY,1.100,0.160,0.190,1L3K,A,2,1L3K_A,180.000,410.000,480.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,5Y9ZA,199,XRAY,1.090,0.160,0.180,5Y9Z,A,2,5Y9Z_A,149.000,285.000,408.000
96,6D0AA,431,XRAY,1.468,0.170,0.190,6D0A,A,2,6D0A_A,74.000,261.000,489.000
97,6FMEB,506,XRAY,1.510,0.170,0.190,6FME,B,3,6FME_B,33.000,204.000,326.000
98,6G7NA,318,XRAY,1.100,0.140,0.150,6G7N,A,2,6G7N_A,25.000,300.000,413.000
99,6HOAA,228,XRAY,1.500,0.190,0.210,6HOA,A,2,6HOA_A,31.000,254.000,285.000

In [4]:
target_df['Domain_num'].value_counts()

2    82
3    14
4     3
5     1
Name: Domain_num, dtype: int64

## Check if the target is single-chain or not.

In [14]:
from prody import parsePDB

def getChainNum(pdb_id: str):
    mol = parsePDB(pdb_id)
    chain_array = np.unique(mol.getChids())
    chain_num = chain_array.size
    return chain_array, chain_num

In [15]:
import time

chain_num_list = []
chain_array_list = []
for pdb_id in target_df['PDB_ID']:
    chain_array, chain_num = getChainNum(pdb_id)
    chain_array_list.append(chain_array)
    chain_num_list.append(chain_num)
    time.sleep(3)

@> PDB file is found in working directory (1bf2.pdb.gz).
@> 6143 atoms and 1 coordinate set(s) were parsed in 0.06s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 1gu7 downloaded (1gu7.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 6605 atoms and 1 coordinate set(s) were parsed in 0.07s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 1hm9 downloaded (1hm9.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 7812 atoms and 1 coordinate set(s) were parsed in 0.07s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 1k5n downloaded (1k5n.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 4126 atoms and 1 coordinate set(s) were parsed in 0.05s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 1l3k downloaded (1l3k.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 1525 atoms and 1 coordinate set(s) were parsed in 0.02s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 1lc5 downloaded (1lc5.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 3056 atoms and 1 coordinate set(s) were parsed in 0.06s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 1r6d downloaded (1r6d.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 2926 atoms and 1 coordinate set(s) were parsed in 0.04s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 1rkx downloaded (1rkx.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 12159 atoms and 1 coordinate set(s) were parsed in 0.09s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 1sf9 downloaded (1sf9.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 1125 atoms and 1 coordinate set(s) were parsed in 0.01s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 1svs downloaded (1svs.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 2815 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 1vi0 downloaded (1vi0.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 3280 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 1x8b downloaded (1x8b.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 2212 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 1yqd downloaded (1yqd.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 6020 atoms and 1 coordinate set(s) were parsed in 0.05s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 1zar downloaded (1zar.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 2542 atoms and 1 coordinate set(s) were parsed in 0.02s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 2bhu downloaded (2bhu.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 5750 atoms and 1 coordinate set(s) were parsed in 0.06s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 2dkj downloaded (2dkj.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 7077 atoms and 1 coordinate set(s) were parsed in 0.08s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 2heu downloaded (2heu.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 11793 atoms and 1 coordinate set(s) were parsed in 0.15s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 2ibd downloaded (2ibd.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 3461 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 2izr downloaded (2izr.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 2923 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 2pok downloaded (2pok.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 8123 atoms and 1 coordinate set(s) were parsed in 0.07s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 2vvm downloaded (2vvm.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 8415 atoms and 1 coordinate set(s) were parsed in 0.10s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 2w8t downloaded (2w8t.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 3488 atoms and 1 coordinate set(s) were parsed in 0.04s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 2xxg downloaded (2xxg.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 5843 atoms and 1 coordinate set(s) were parsed in 0.06s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 3a09 downloaded (3a09.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 4827 atoms and 1 coordinate set(s) were parsed in 0.08s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 3aj7 downloaded (3aj7.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 5444 atoms and 1 coordinate set(s) were parsed in 0.04s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 3aml downloaded (3aml.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 6565 atoms and 1 coordinate set(s) were parsed in 0.07s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 3dk9 downloaded (3dk9.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 4366 atoms and 1 coordinate set(s) were parsed in 0.05s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 3g7q downloaded (3g7q.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 3269 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 3hje downloaded (3hje.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 6784 atoms and 1 coordinate set(s) were parsed in 0.06s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 3ife downloaded (3ife.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 3924 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 3k6y downloaded (3k6y.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 1999 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 3kgw downloaded (3kgw.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 6560 atoms and 1 coordinate set(s) were parsed in 0.07s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 3klk downloaded (3klk.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 9081 atoms and 1 coordinate set(s) were parsed in 0.14s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 3lyp downloaded (3lyp.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 3369 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 3n0r downloaded (3n0r.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 2260 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 3na5 downloaded (3na5.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 9095 atoms and 1 coordinate set(s) were parsed in 0.20s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 3nyt downloaded (3nyt.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 3255 atoms and 1 coordinate set(s) were parsed in 0.09s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 3p2t downloaded (3p2t.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 1771 atoms and 1 coordinate set(s) were parsed in 0.05s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 3pfg downloaded (3pfg.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 2170 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 3piu downloaded (3piu.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 3554 atoms and 1 coordinate set(s) were parsed in 0.06s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 3pj0 downloaded (3pj0.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 12813 atoms and 1 coordinate set(s) were parsed in 0.34s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 3qgu downloaded (3qgu.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 7105 atoms and 1 coordinate set(s) were parsed in 0.10s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 3r2q downloaded (3r2q.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 1900 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 3sqz downloaded (3sqz.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 3411 atoms and 1 coordinate set(s) were parsed in 0.05s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 3thi downloaded (3thi.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 2987 atoms and 1 coordinate set(s) were parsed in 0.07s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 3tu3 downloaded (3tu3.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 5425 atoms and 1 coordinate set(s) were parsed in 0.15s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 3ucq downloaded (3ucq.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 5808 atoms and 1 coordinate set(s) were parsed in 0.06s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 3v4c downloaded (3v4c.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 8098 atoms and 1 coordinate set(s) were parsed in 0.14s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 3vqt downloaded (3vqt.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 16607 atoms and 1 coordinate set(s) were parsed in 0.21s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 3ws7 downloaded (3ws7.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 2583 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 3zss downloaded (3zss.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 20945 atoms and 1 coordinate set(s) were parsed in 0.29s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4a5s downloaded (4a5s.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 13884 atoms and 1 coordinate set(s) were parsed in 0.24s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4cfs downloaded (4cfs.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 9644 atoms and 1 coordinate set(s) were parsed in 0.16s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4d5c downloaded (4d5c.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 1725 atoms and 1 coordinate set(s) were parsed in 0.04s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4dcu downloaded (4dcu.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 3489 atoms and 1 coordinate set(s) were parsed in 0.09s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4eq9 downloaded (4eq9.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 2246 atoms and 1 coordinate set(s) were parsed in 0.04s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4eqb downloaded (4eqb.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 6278 atoms and 1 coordinate set(s) were parsed in 0.09s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4eqs downloaded (4eqs.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 8409 atoms and 1 coordinate set(s) were parsed in 0.09s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4euo downloaded (4euo.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 2820 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4g68 downloaded (4g68.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 10202 atoms and 1 coordinate set(s) were parsed in 0.14s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4g8t downloaded (4g8t.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 15767 atoms and 1 coordinate set(s) were parsed in 0.21s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4h27 downloaded (4h27.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 2846 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4hvk downloaded (4hvk.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 3267 atoms and 1 coordinate set(s) were parsed in 0.04s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4i8h downloaded (4i8h.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 2085 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4iw9 downloaded (4iw9.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 5540 atoms and 1 coordinate set(s) were parsed in 0.07s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4jb7 downloaded (4jb7.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 2227 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4jn7 downloaded (4jn7.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 6819 atoms and 1 coordinate set(s) were parsed in 0.08s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4kqp downloaded (4kqp.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 3960 atoms and 1 coordinate set(s) were parsed in 0.05s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4krg downloaded (4krg.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 9755 atoms and 1 coordinate set(s) were parsed in 0.15s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4lj6 downloaded (4lj6.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 2746 atoms and 1 coordinate set(s) were parsed in 0.04s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4lv5 downloaded (4lv5.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 6519 atoms and 1 coordinate set(s) were parsed in 0.07s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4m2m downloaded (4m2m.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 3435 atoms and 1 coordinate set(s) were parsed in 0.04s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4mf5 downloaded (4mf5.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 4144 atoms and 1 coordinate set(s) were parsed in 0.06s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4msx downloaded (4msx.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 6822 atoms and 1 coordinate set(s) were parsed in 0.06s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4ntc downloaded (4ntc.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 5204 atoms and 1 coordinate set(s) were parsed in 0.08s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4pqh downloaded (4pqh.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 4054 atoms and 1 coordinate set(s) were parsed in 0.05s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4qtc downloaded (4qtc.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 3201 atoms and 1 coordinate set(s) were parsed in 0.05s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4r6h downloaded (4r6h.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 3629 atoms and 1 coordinate set(s) were parsed in 0.05s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4rd4 downloaded (4rd4.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 3702 atoms and 1 coordinate set(s) were parsed in 0.06s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4rjz downloaded (4rjz.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 6518 atoms and 1 coordinate set(s) were parsed in 0.13s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4ry1 downloaded (4ry1.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 7432 atoms and 1 coordinate set(s) were parsed in 0.11s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4tmx downloaded (4tmx.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 6323 atoms and 1 coordinate set(s) were parsed in 0.11s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4u19 downloaded (4u19.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 6049 atoms and 1 coordinate set(s) were parsed in 0.07s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4wlh downloaded (4wlh.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 13756 atoms and 1 coordinate set(s) were parsed in 0.53s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4wpg downloaded (4wpg.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 4975 atoms and 1 coordinate set(s) were parsed in 0.09s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4xh2 downloaded (4xh2.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 21723 atoms and 1 coordinate set(s) were parsed in 0.27s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4yi8 downloaded (4yi8.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 3332 atoms and 1 coordinate set(s) were parsed in 0.13s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 4yki downloaded (4yki.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 8696 atoms and 1 coordinate set(s) were parsed in 0.12s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 5dvi downloaded (5dvi.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 6991 atoms and 1 coordinate set(s) were parsed in 0.31s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 5fs8 downloaded (5fs8.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 4354 atoms and 1 coordinate set(s) were parsed in 0.13s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 5icq downloaded (5icq.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 5213 atoms and 1 coordinate set(s) were parsed in 0.22s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 5jnm downloaded (5jnm.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 3433 atoms and 1 coordinate set(s) were parsed in 0.17s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 5m04 downloaded (5m04.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 2768 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 5u3a downloaded (5u3a.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 8290 atoms and 1 coordinate set(s) were parsed in 0.17s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 5wjp downloaded (5wjp.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 2060 atoms and 1 coordinate set(s) were parsed in 0.04s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 5y9z downloaded (5y9z.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 3911 atoms and 1 coordinate set(s) were parsed in 0.16s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 6d0a downloaded (6d0a.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 7075 atoms and 1 coordinate set(s) were parsed in 0.07s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 6fme downloaded (6fme.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 9143 atoms and 1 coordinate set(s) were parsed in 0.18s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 6g7n downloaded (6g7n.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 5634 atoms and 1 coordinate set(s) were parsed in 0.12s.
@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 6hoa downloaded (6hoa.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 1586 atoms and 1 coordinate set(s) were parsed in 0.03s.

In [20]:
chain_df = pd.DataFrame({'PDB_ID': target_df['PDB_ID'], 'chain_num': chain_num_list, 'chain_array': chain_array_list})
chain_df

   PDB_ID  chain_num chain_array
0    1BF2          1         [A]
1    1GU7          2      [A, B]
2    1HM9          2      [A, B]
3    1K5N          3   [A, B, C]
4    1L3K          1         [A]
..    ...        ...         ...
95   5Y9Z          2      [A, B]
96   6D0A          1         [A]
97   6FME          2      [A, B]
98   6G7N          2      [A, B]
99   6HOA          1         [A]

[100 rows x 3 columns]

In [21]:
chain_df.sort_values('chain_num')

   PDB_ID  chain_num                                        chain_array
0    1BF2          1                                                [A]
65   4JB7          1                                                [A]
63   4I8H          1                                                [A]
62   4HVK          1                                                [A]
61   4H27          1                                                [A]
..    ...        ...                                                ...
60   4G8T          4                                       [A, B, C, D]
48   3VQT          4                                       [A, B, C, D]
50   3ZSS          4                                       [A, B, C, D]
59   4G68          5                                    [A, B, C, D, E]
85   4XH2         18  [A, B, C, D, E, F, G, H, I, J, K, L, a, c, e, ...

[100 rows x 3 columns]

In [22]:
def getChainNum_notHetatm(pdb_id: str):
    mol = parsePDB(pdb_id).select('not hetatm')
    chain_array = np.unique(mol.getChids())
    chain_num = chain_array.size
    return chain_array, chain_num

nh_chain_num_list = []
nh_chain_array_list = []
for pdb_id in target_df['PDB_ID']:
    chain_array, chain_num = getChainNum_notHetatm(pdb_id)
    nh_chain_array_list.append(chain_array)
    nh_chain_num_list.append(chain_num)

@> PDB file is found in working directory (1bf2.pdb.gz).
@> 6143 atoms and 1 coordinate set(s) were parsed in 0.21s.
@> PDB file is found in working directory (1gu7.pdb.gz).
@> 6605 atoms and 1 coordinate set(s) were parsed in 0.07s.
@> PDB file is found in working directory (1hm9.pdb.gz).
@> 7812 atoms and 1 coordinate set(s) were parsed in 0.07s.
@> PDB file is found in working directory (1k5n.pdb.gz).
@> 4126 atoms and 1 coordinate set(s) were parsed in 0.06s.
@> PDB file is found in working directory (1l3k.pdb.gz).
@> 1525 atoms and 1 coordinate set(s) were parsed in 0.02s.
@> PDB file is found in working directory (1lc5.pdb.gz).
@> 3056 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> PDB file is found in working directory (1r6d.pdb.gz).
@> 2926 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> PDB file is found in working directory (1rkx.pdb.gz).
@> 12159 atoms and 1 coordinate set(s) were parsed in 0.11s.
@> PDB file is found in working directory (1sf9.pdb.gz).
@> 1125 atoms and 1 coordinate set(s) were parsed in 0.01s.
@> PDB file is found in working directory (1svs.pdb.gz).
@> 2815 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> PDB file is found in working directory (1vi0.pdb.gz).
@> 3280 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> PDB file is found in working directory (1x8b.pdb.gz).
@> 2212 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> PDB file is found in working directory (1yqd.pdb.gz).
@> 6020 atoms and 1 coordinate set(s) were parsed in 0.09s.
@> PDB file is found in working directory (1zar.pdb.gz).
@> 2542 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> PDB file is found in working directory (2bhu.pdb.gz).
@> 5750 atoms and 1 coordinate set(s) were parsed in 0.10s.
@> PDB file is found in working directory (2dkj.pdb.gz).
@> 7077 atoms and 1 coordinate set(s) were parsed in 0.06s.
@> PDB file is found in working directory (2heu.pdb.gz).
@> 11793 atoms and 1 coordinate set(s) were parsed in 0.15s.
@> PDB file is found in working directory (2ibd.pdb.gz).
@> 3461 atoms and 1 coordinate set(s) were parsed in 0.05s.
@> PDB file is found in working directory (2izr.pdb.gz).
@> 2923 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> PDB file is found in working directory (2pok.pdb.gz).
@> 8123 atoms and 1 coordinate set(s) were parsed in 0.07s.
@> PDB file is found in working directory (2vvm.pdb.gz).
@> 8415 atoms and 1 coordinate set(s) were parsed in 0.07s.
@> PDB file is found in working directory (2w8t.pdb.gz).
@> 3488 atoms and 1 coordinate set(s) were parsed in 0.04s.
@> PDB file is found in working directory (2xxg.pdb.gz).
@> 5843 atoms and 1 coordinate set(s) were parsed in 0.07s.
@> PDB file is found in working directory (3a09.pdb.gz).
@> 4827 atoms and 1 coordinate set(s) were parsed in 0.06s.
@> PDB file is found in working directory (3aj7.pdb.gz).
@> 5444 atoms and 1 coordinate set(s) were parsed in 0.05s.
@> PDB file is found in working directory (3aml.pdb.gz).
@> 6565 atoms and 1 coordinate set(s) were parsed in 0.07s.
@> PDB file is found in working directory (3dk9.pdb.gz).
@> 4366 atoms and 1 coordinate set(s) were parsed in 0.05s.
@> PDB file is found in working directory (3g7q.pdb.gz).
@> 3269 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> PDB file is found in working directory (3hje.pdb.gz).
@> 6784 atoms and 1 coordinate set(s) were parsed in 0.06s.
@> PDB file is found in working directory (3ife.pdb.gz).
@> 3924 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> PDB file is found in working directory (3k6y.pdb.gz).
@> 1999 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> PDB file is found in working directory (3kgw.pdb.gz).
@> 6560 atoms and 1 coordinate set(s) were parsed in 0.05s.
@> PDB file is found in working directory (3klk.pdb.gz).
@> 9081 atoms and 1 coordinate set(s) were parsed in 0.10s.
@> PDB file is found in working directory (3lyp.pdb.gz).
@> 3369 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> PDB file is found in working directory (3n0r.pdb.gz).
@> 2260 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> PDB file is found in working directory (3na5.pdb.gz).
@> 9095 atoms and 1 coordinate set(s) were parsed in 0.10s.
@> PDB file is found in working directory (3nyt.pdb.gz).
@> 3255 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> PDB file is found in working directory (3p2t.pdb.gz).
@> 1771 atoms and 1 coordinate set(s) were parsed in 0.02s.
@> PDB file is found in working directory (3pfg.pdb.gz).
@> 2170 atoms and 1 coordinate set(s) were parsed in 0.02s.
@> PDB file is found in working directory (3piu.pdb.gz).
@> 3554 atoms and 1 coordinate set(s) were parsed in 0.05s.
@> PDB file is found in working directory (3pj0.pdb.gz).
@> 12813 atoms and 1 coordinate set(s) were parsed in 0.16s.
@> PDB file is found in working directory (3qgu.pdb.gz).
@> 7105 atoms and 1 coordinate set(s) were parsed in 0.09s.
@> PDB file is found in working directory (3r2q.pdb.gz).
@> 1900 atoms and 1 coordinate set(s) were parsed in 0.05s.
@> PDB file is found in working directory (3sqz.pdb.gz).
@> 3411 atoms and 1 coordinate set(s) were parsed in 0.04s.
@> PDB file is found in working directory (3thi.pdb.gz).
@> 2987 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> PDB file is found in working directory (3tu3.pdb.gz).
@> 5425 atoms and 1 coordinate set(s) were parsed in 0.06s.
@> PDB file is found in working directory (3ucq.pdb.gz).
@> 5808 atoms and 1 coordinate set(s) were parsed in 0.05s.
@> PDB file is found in working directory (3v4c.pdb.gz).
@> 8098 atoms and 1 coordinate set(s) were parsed in 0.07s.
@> PDB file is found in working directory (3vqt.pdb.gz).
@> 16607 atoms and 1 coordinate set(s) were parsed in 0.20s.
@> PDB file is found in working directory (3ws7.pdb.gz).
@> 2583 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> PDB file is found in working directory (3zss.pdb.gz).
@> 20945 atoms and 1 coordinate set(s) were parsed in 0.23s.
@> PDB file is found in working directory (4a5s.pdb.gz).
@> 13884 atoms and 1 coordinate set(s) were parsed in 0.11s.
@> PDB file is found in working directory (4cfs.pdb.gz).
@> 9644 atoms and 1 coordinate set(s) were parsed in 0.08s.
@> PDB file is found in working directory (4d5c.pdb.gz).
@> 1725 atoms and 1 coordinate set(s) were parsed in 0.02s.
@> PDB file is found in working directory (4dcu.pdb.gz).
@> 3489 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> PDB file is found in working directory (4eq9.pdb.gz).
@> 2246 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> PDB file is found in working directory (4eqb.pdb.gz).
@> 6278 atoms and 1 coordinate set(s) were parsed in 0.07s.
@> PDB file is found in working directory (4eqs.pdb.gz).
@> 8409 atoms and 1 coordinate set(s) were parsed in 0.08s.
@> PDB file is found in working directory (4euo.pdb.gz).
@> 2820 atoms and 1 coordinate set(s) were parsed in 0.02s.
@> PDB file is found in working directory (4g68.pdb.gz).
@> 10202 atoms and 1 coordinate set(s) were parsed in 0.09s.
@> PDB file is found in working directory (4g8t.pdb.gz).
@> 15767 atoms and 1 coordinate set(s) were parsed in 0.16s.
@> PDB file is found in working directory (4h27.pdb.gz).
@> 2846 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> PDB file is found in working directory (4hvk.pdb.gz).
@> 3267 atoms and 1 coordinate set(s) were parsed in 0.04s.
@> PDB file is found in working directory (4i8h.pdb.gz).
@> 2085 atoms and 1 coordinate set(s) were parsed in 0.02s.
@> PDB file is found in working directory (4iw9.pdb.gz).
@> 5540 atoms and 1 coordinate set(s) were parsed in 0.06s.
@> PDB file is found in working directory (4jb7.pdb.gz).
@> 2227 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> PDB file is found in working directory (4jn7.pdb.gz).
@> 6819 atoms and 1 coordinate set(s) were parsed in 0.08s.
@> PDB file is found in working directory (4kqp.pdb.gz).
@> 3960 atoms and 1 coordinate set(s) were parsed in 0.04s.
@> PDB file is found in working directory (4krg.pdb.gz).
@> 9755 atoms and 1 coordinate set(s) were parsed in 0.10s.
@> PDB file is found in working directory (4lj6.pdb.gz).
@> 2746 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> PDB file is found in working directory (4lv5.pdb.gz).
@> 6519 atoms and 1 coordinate set(s) were parsed in 0.06s.
@> PDB file is found in working directory (4m2m.pdb.gz).
@> 3435 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> PDB file is found in working directory (4mf5.pdb.gz).
@> 4144 atoms and 1 coordinate set(s) were parsed in 0.05s.
@> PDB file is found in working directory (4msx.pdb.gz).
@> 6822 atoms and 1 coordinate set(s) were parsed in 0.06s.
@> PDB file is found in working directory (4ntc.pdb.gz).
@> 5204 atoms and 1 coordinate set(s) were parsed in 0.06s.
@> PDB file is found in working directory (4pqh.pdb.gz).
@> 4054 atoms and 1 coordinate set(s) were parsed in 0.04s.
@> PDB file is found in working directory (4qtc.pdb.gz).
@> 3201 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> PDB file is found in working directory (4r6h.pdb.gz).
@> 3629 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> PDB file is found in working directory (4rd4.pdb.gz).
@> 3702 atoms and 1 coordinate set(s) were parsed in 0.05s.
@> PDB file is found in working directory (4rjz.pdb.gz).
@> 6518 atoms and 1 coordinate set(s) were parsed in 0.06s.
@> PDB file is found in working directory (4ry1.pdb.gz).
@> 7432 atoms and 1 coordinate set(s) were parsed in 0.08s.
@> PDB file is found in working directory (4tmx.pdb.gz).
@> 6323 atoms and 1 coordinate set(s) were parsed in 0.07s.
@> PDB file is found in working directory (4u19.pdb.gz).
@> 6049 atoms and 1 coordinate set(s) were parsed in 0.06s.
@> PDB file is found in working directory (4wlh.pdb.gz).
@> 13756 atoms and 1 coordinate set(s) were parsed in 0.11s.
@> PDB file is found in working directory (4wpg.pdb.gz).
@> 4975 atoms and 1 coordinate set(s) were parsed in 0.06s.
@> PDB file is found in working directory (4xh2.pdb.gz).
@> 21723 atoms and 1 coordinate set(s) were parsed in 0.20s.
@> PDB file is found in working directory (4yi8.pdb.gz).
@> 3332 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> PDB file is found in working directory (4yki.pdb.gz).
@> 8696 atoms and 1 coordinate set(s) were parsed in 0.08s.
@> PDB file is found in working directory (5dvi.pdb.gz).
@> 6991 atoms and 1 coordinate set(s) were parsed in 0.08s.
@> PDB file is found in working directory (5fs8.pdb.gz).
@> 4354 atoms and 1 coordinate set(s) were parsed in 0.05s.
@> PDB file is found in working directory (5icq.pdb.gz).
@> 5213 atoms and 1 coordinate set(s) were parsed in 0.06s.
@> PDB file is found in working directory (5jnm.pdb.gz).
@> 3433 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> PDB file is found in working directory (5m04.pdb.gz).
@> 2768 atoms and 1 coordinate set(s) were parsed in 0.02s.
@> PDB file is found in working directory (5u3a.pdb.gz).
@> 8290 atoms and 1 coordinate set(s) were parsed in 0.08s.
@> PDB file is found in working directory (5wjp.pdb.gz).
@> 2060 atoms and 1 coordinate set(s) were parsed in 0.02s.
@> PDB file is found in working directory (5y9z.pdb.gz).
@> 3911 atoms and 1 coordinate set(s) were parsed in 0.05s.
@> PDB file is found in working directory (6d0a.pdb.gz).
@> 7075 atoms and 1 coordinate set(s) were parsed in 0.06s.
@> PDB file is found in working directory (6fme.pdb.gz).
@> 9143 atoms and 1 coordinate set(s) were parsed in 0.09s.
@> PDB file is found in working directory (6g7n.pdb.gz).
@> 5634 atoms and 1 coordinate set(s) were parsed in 0.06s.
@> PDB file is found in working directory (6hoa.pdb.gz).
@> 1586 atoms and 1 coordinate set(s) were parsed in 0.02s.

In [38]:
nh_chain_df = pd.DataFrame({'PDB_ID': target_df['PDB_ID'], 'notHetatm_chain_num': nh_chain_num_list, 'notHetatm_chain_array': nh_chain_array_list})
nh_chain_df.sort_values('notHetatm_chain_num')

,PDB_ID,notHetatm_chain_num,notHetatm_chain_array
0,1BF2,1,[A]
65,4JB7,1,[A]
63,4I8H,1,[A]
62,4HVK,1,[A]
61,4H27,1,[A]
...,...,...,...
40,3PJ0,4,"[A, B, C, D]"
52,4CFS,4,"[A, B, C, D]"
50,3ZSS,4,"[A, B, C, D]"
60,4G8T,4,"[A, B, C, D]"
85,4XH2,18,"[A, B, C, D, E, F, G, H, I, J, K, L, a, c, e, ..."

In [32]:
chain_df.value_counts('chain_num')

chain_num
1     56
2     30
3      6
4      6
5      1
18     1
dtype: int64

In [39]:
nh_chain_df.value_counts('notHetatm_chain_num')

notHetatm_chain_num
1     58
2     30
4      6
3      5
18     1
dtype: int64

In [40]:
concat_chain_df = pd.merge(chain_df, nh_chain_df, on='PDB_ID')
concat_chain_df

   PDB_ID  chain_num chain_array  notHetatm_chain_num notHetatm_chain_array
0    1BF2          1         [A]                    1                   [A]
1    1GU7          2      [A, B]                    2                [A, B]
2    1HM9          2      [A, B]                    2                [A, B]
3    1K5N          3   [A, B, C]                    3             [A, B, C]
4    1L3K          1         [A]                    1                   [A]
..    ...        ...         ...                  ...                   ...
95   5Y9Z          2      [A, B]                    2                [A, B]
96   6D0A          1         [A]                    1                   [A]
97   6FME          2      [A, B]                    2                [A, B]
98   6G7N          2      [A, B]                    2                [A, B]
99   6HOA          1         [A]                    1                   [A]

[100 rows x 5 columns]

In [41]:
concat_chain_df.query('chain_num != notHetatm_chain_num')

,PDB_ID,chain_num,chain_array,notHetatm_chain_num,notHetatm_chain_array
23,3A09,2,"[A, B]",1,[A]
29,3IFE,3,"[A, B, C]",1,[A]
51,4A5S,3,"[A, B, C]",2,"[A, B]"
59,4G68,5,"[A, B, C, D, E]",3,"[A, B, C]"

In [44]:
target_chain_df = pd.merge(target_df, concat_chain_df, on='PDB_ID')
target_chain_df

,IDs,length,Exptl.,resolution,R-factor,FreeRvalue,PDB_ID,Chain,Domain_num,target,1,2,3,chain_num,chain_array,notHetatm_chain_num,notHetatm_chain_array
0,1BF2A,750,XRAY,2.000,0.160,0.210,1BF2,A,3,1BF2_A,107.000,323.000,344.000,1,[A],1,[A]
1,1GU7A,364,XRAY,1.700,0.170,0.190,1GU7,A,2,1GU7_A,22.000,231.000,268.000,2,"[A, B]",2,"[A, B]"
2,1HM9B,468,XRAY,1.750,0.180,0.220,1HM9,B,2,1HM9_B,40.000,204.000,274.000,2,"[A, B]",2,"[A, B]"
3,1K5NA,276,XRAY,1.090,0.120,0.150,1K5N,A,2,1K5N_A,744.000,5190.000,7188.000,3,"[A, B, C]",3,"[A, B, C]"
4,1L3KA,196,XRAY,1.100,0.160,0.190,1L3K,A,2,1L3K_A,180.000,410.000,480.000,1,[A],1,[A]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,5Y9ZA,199,XRAY,1.090,0.160,0.180,5Y9Z,A,2,5Y9Z_A,149.000,285.000,408.000,2,"[A, B]",2,"[A, B]"
96,6D0AA,431,XRAY,1.468,0.170,0.190,6D0A,A,2,6D0A_A,74.000,261.000,489.000,1,[A],1,[A]
97,6FMEB,506,XRAY,1.510,0.170,0.190,6FME,B,3,6FME_B,33.000,204.000,326.000,2,"[A, B]",2,"[A, B]"
98,6G7NA,318,XRAY,1.100,0.140,0.150,6G7N,A,2,6G7N_A,25.000,300.000,413.000,2,"[A, B]",2,"[A, B]"
99,6HOAA,228,XRAY,1.500,0.190,0.210,6HOA,A,2,6HOA_A,31.000,254.000,285.000,1,[A],1,[A]

In [45]:
out_path = '../../../pisces/20210225/multidomain_target_100_cullpdb_pc20_res2.0_R0.25_chain_num.csv'
target_chain_df.to_csv(out_path)